*{
    margin: 0;
    padding: 0;
}
body{    
    background-color: beige; 
}
.container{
    margin: 6.25rem 37.5rem;
    padding: 1.25rem;
    text-align: center;
}

:root{
    --coral: #d97b73;
    --red: #e23b4e;
}
.window{
    border: 5px solid 
    var(--coral);
    border-radius: 0.75rem;
    background-color: wheat;
}
.btn--no{
    position: relative;
    transition: 
        left .18s, top .18s;
}
#yesBtn{
    padding: 5px 10px;
    background-color: green;
    border: 2px solid darkgreen;
    border-radius: 5px;
    cursor: pointer;
}
#noBtn{
    padding: 5px 10px;
    background-color: #e23b4e;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
}
.heart{
    position: fixed;
    top: -30px;
    font-size: 1.8rem;
    animation: fall 3s linear forwards;
}
@media (max-width: 768px) {
    .container {
        margin: 1rem 3rem;
    }
}

@keyframes fall {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(300vh);
    }
}